<div class="container message-box">
  <h1 class="title-all">Send a message </h1>
  <p>Back to <%= link_to "Messages", conversations_path %></p>
  <% if @over_ten %>
    <%= link_to 'Show Previous', '?m=all' %>
  <% end %>
  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body %>
      <% user = User.find(message.user_id) %>
      <section class="msg-item">
        <div class="msg-content">
          <%= image_tag(user.image.url(:thumb))%><strong><%= user.username %></strong> <small><%= message.message_time %></small>
          <div class="list-msg">
            <i class="right triangle icon"></i>
            <%= message.body %>
          </div>
        </div>
      </section>
      <% end %>
    <% end %>
  </div>
  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="msg-area field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div class="msg-send-btn">
      <%= f.submit "Send Message", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
