<%= form_for [log, vid], html: { multipart: true } do |f| %>
   <div class="form-group">
     <%= f.label :caption, class: 'sr-only' %>
     <%= f.text_field :caption, class: 'form-control', placeholder: "Add A Caption" %>
   </div>
   <div class="form-all form-group">
     <%= f.label :video %>
     <%= f.file_field :video, required: true %>
   </div>
   <%= f.submit "Upload", class: 'btn btn-default pull-right' %>
<% end %>
