<div class="container">
  <h1 class="title">Log Your Adventure</h1>
  <p>Record your most recent vacation, adventure, or event for memories or to share with others.</p>
  <%= form_for @log, html: { multipart: true }, :validate=>true do |f| %>
     <div class="form-group">
       <%= f.label :title %>
       <%= f.text_field :title, class: 'form-control', placeholder: "Log Title", required: true  %>
     </div>
     <div class="form-group">
       <%= f.label "Tell your story" %>
       <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Where did you go? What did you do? It's your story to tell.", required: true %>
     </div>
     <div class="form-group">
       <%= f.label :location %>
       <%= f.text_area :description, rows: 1, class: 'form-control', placeholder: "Ex. San Francsico, CA, USA", required: true %>
     </div>
     <div class=" form-group">
       <%= f.label "Add a thumbnail" %>
       <%= f.file_field :image, required: true %>
     </div>
     <div class="form-group">
     <%= f.label "Select a region" %>
     <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select one!", required: true) %>
    </div>
     <% if current_user && (current_user.admin? ||  current_user.premium?) %>
       <div class="form-group">
         <%= f.label :private %>
         <%= f.check_box :private %>
       </div>
    <% end %>
     <div class="form-group">
       <%= f.submit "Save", class: 'btn btn-primary' %>
     </div>
    <% end %>
    <small>Please make sure your post follows Travelog guidelines. <%= link_to "Learn more", "#" %></small> </br>
    <small>Want to increase posts limit or make your posts private? <%= link_to "Subscribe", "#" %> to Travelog premium.</small>
</div>
