<div>
  <h1>Explore <%= pluralize(@logs.count, 'adventure') %></h1>
  <p> Most Recent <%= link_to "See All","#"%></p>
  <div>
    <%# <%= render 'wikis/showrecent' %>
  </div>
  <div></div>
  <p> Most Popular <%= link_to "See All", "#"%></p>
  <div class="row">
    <%#  <%= render 'wikis/showtop' %>
  </div>
  <div></div>
  <% if user_signed_in? %>
    <p> Your Likes <%= link_to "See All", "#"%> </p>
    <div>
    <%#  <%= render 'wikis/showlikes'%>
    </div>
    <div></div>
    <p> Your Followers <%= link_to "See All", "#"%> </p>
      <div>
     <%#  <%= render 'wikis/showfollowed' %>
    </div>
  <% end %>
</div>
