<nav class="navbar header-nav">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li> <%= link_to image_tag("travelog_logo.png"), "#" %> </li>
    <li><%= link_to "Learn More", "#" %></li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
    </ul>
  </li>
    <li><%= link_to "New Log", new_log_path %></li>
    <li>
      <div class="search-bar">
        <%= form_tag(logs_path :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Logs" %>
          <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
        <% end %>
      </div>
    </li>
    <li><%= link_to "Messages", "#" %></li>
    <li><%= link_to "Notifications", "#" %></li>
    <li><%= link_to "User", "#" %></li>
  </div>
  </ul>
</nav>
